# > OpenKnowledge Config
DEFAULT_LANGUAGE="pt" # en - for english or es - for spanish

# > OpenKnowledge Agent Config
AI_PROVIDER="gemini"
AI_MODEL="gemini-2.5-flash-lite"
AI_TONE="professional and helpful"

# > AI Provider API Keys
# OPENAI_API_KEY=""
# ANTHROPIC_API_KEY=""
GEMINI_API_KEY=""
