# > OpenKnowledge Config
DEFAULT_LANGUAGE=pt-BR

# > OpenKnowledge Agent Config
AI_PROVIDER="gemini"
AI_MODEL="gemini-1.5-flash"
AI_TONE="professional and helpful"

# > AI Provider API Keys
# OPENAI_API_KEY=""
# ANTHROPIC_API_KEY=""
GEMINI_API_KEY=""
